{{ 'component-calculator.css' | asset_url | stylesheet_tag }}

<calculator-element id="calculator-{{id}}" class="calculator-modal color-bg-white">
  <div class="calculator-modal-inner">
    <div calculatorId="{{id}}" class="calculator-close">
      <img src="
      {{ 'close-calculator-icon.svg' | asset_url }}" alt="">
    </div>
    <div class="calculator-modal-content">
      <div class="calculator-modal-heading">
        <h2 class="color-primary-2">Gutsy bag calculator</h2>
        <p>Calculate the amount of Gutsy bags you’ll need per month!</p>
      </div>
      <div id="form-{{productTitle}}" class="calculator-form">
        <div class="calculator-form-group">
          <label for="breed">Dog type</label>
          <div class="select">
            <select class="select__select breed-field" name="breed" id="breed-{{id}}">
              <option value="puppy">Puppy</option>
              <option value="mini">Mini</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
            </select>
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
            </path></svg>
          </div>
        </div>
        <div class="calculator-form-group">
          <label for="weight">Weight (kg)</label>
          <div class="select">
            <select id="weight-{{id}}" class="weight-field select__select">
            </select>
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
            </path></svg>
          </div>
        </div>
        <div id="age-form-group-{{id}}" class="calculator-form-group age-form-group hidden">
          <label for="age">Age (months)</label>
          <div class="select">
            <select id="age-{{id}}" class="select__select age-field">
            </select>
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
            </path></svg>
          </div>
        </div>
      </div>
      <div class="calculator-modal-results">
        <div id="warning-{{id}}" class="warning hidden">
        </div>
        <p>Recommended daily dose: <span id="results1-{{id}}" class="results1Field"></span></p>
        <p>Kg/month: <span id="results2-{{id}}" class="results2Field"></span></p>
      </div>
      <div class="calculator-modal-actions">
        <h2 class="color-primary-1">Our recommendations:</h2>
        <label for="subscribe">Do you want to subscribe?</label>
        <div class="calculator-subscription-select__wrap">
          <select name="subscription" id="subscriptionSelect">
            <option value="none">No subscription</option>
            <option value="30days">Delivery every 30 days</option>
          </select>
        </div>
        {%- for variant in product.variants -%}
          <product-form>
            {%- form 'product', product, data-productid: product.id, id: product_form_id, novalidate: 'novalidate', data-type: 'add-to-cart-form', class: "calculator-product-form" -%}
              <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ variant.id }}" disabled>
              <div class="calculator-modal-option__row-title">
                <span>{{product.title}}:</span>
                <span class="option-value">{{variant.option1}}</span>
              </div>
              <div class="calculator-modal-option__row">
                <div class="calculator-modal-actions__field">
                    <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
                                  <quantity-input class="quantity">
                                    <button class="quantity__button no-js-hidden" name="minus" type="button">
                                      <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                                      {% render 'icon-minus' %}
                                    </button>
                                    <input class="quantity__input"
                                        type="number"
                                        name="quantity"
                                        id="quantity-picker-{{variant.id}}"
                                        min="1"
                                        value="1"
                                        form="{{ product_form_id }}"
                                        productId="{{product.id}}"
                                        data-size="{{variant.option1}}"
                                      >
                                    <button class="quantity__button no-js-hidden" name="plus" type="button">
                                      <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                                      {% render 'icon-plus' %}
                                    </button>
                                  </quantity-input>
                                </div>
                              </div>
                              <div class="prices calculator__prices">
                                <div id="unitPrice-{{product.id}}" class="unitPrice">
                                  <span>Price per bag</span>
                                  <div class="no-js-hidden priceComponent" id="price-{{ section.id }}" data-product="{{product.id}}" role="status" {{ block.shopify_attributes }}>
                                    {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price' -%}
                                  </div>
                                </div>
                                <div id="totalPrice-{{product.id}}" class="totalPrice">
                                  <span>Total price</span>
                                  <h2 class="price"></h2>
                                  <span id="perMonthInfo-{{product.id}}" class='perMonthInfo'>Per month</span>
                                </div>
                              </div>
                              <button
                                  type="submit"
                                  name="add"
                                  class="product-form__submit button button-secondary button-small {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                                {% if variant.available == false %}disabled{% endif %}
                                >
                                    <span>
                                      {%- if variant.available -%}
                                        {{ 'products.product.add_to_cart' | t }}
                                      {%- else -%}
                                        {{ 'products.product.sold_out' | t }}
                                      {%- endif -%}
                                    </span>
                                    <div class="loading-overlay__spinner hidden">
                                      <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                      </svg>
                                    </div>
                                </button>

                  </div>
              <div class="product-form__error-message-wrapper" role="alert" hidden>
                <span class="product-form__error-message"></span>
              </div>
              <div class="product-form__success-wrapper">
                <div class="product-form__success-content">
                  {%- render "icon-success" -%}
                  <span class="product-form__success-message">Product was added to cart!</span>
                </div>
                <div class="product-form__success-close">Close</div>
              </div>
            {%- endform -%}
          </product-form>
        {%- endfor -%}

        <!-- {%- for variant in product.variants -%}
          <product-form productId="{{product.id}}">
            {%- assign product_form_id = variant.id -%}
            {%- form 'product', product, data-productid: product.id, id: product_form_id, novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
              <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ variant.id }}" disabled>
              <input type="hidden" class="selling_plan_1" name="selling_plan_502653" value="">
              <input type="hidden" class="selling_plan_2" name="selling_plan" value="">
              <div class="calculator-modal-option__row-title">
                <span>{{product.title}}:</span>
                <span class="option-value">{{variant.option1}}</span>
              </div>
              <div class="calculator-modal-option__row">
                  <div class="calculator-modal-actions__field">
                              <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
                                <quantity-input class="quantity">
                                  <button class="quantity__button no-js-hidden" name="minus" type="button">
                                    <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                                    {% render 'icon-minus' %}
                                  </button>
                                  <input class="quantity__input"
                                      type="number"
                                      name="quantity"
                                      id="quantity-picker-{{variant.id}}"
                                      min="1"
                                      value="1"
                                      form="{{ product_form_id }}"
                                      productId="{{product.id}}"
                                      data-size="{{variant.option1}}"
                                    >
                                  <button class="quantity__button no-js-hidden" name="plus" type="button">
                                    <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                                    {% render 'icon-plus' %}
                                  </button>
                                </quantity-input>
                              </div>
                            </div>
                            <button
                                type="submit"
                                name="add"
                                class="product-form__submit button button-secondary button-small {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                              {% if variant.available == false %}disabled{% endif %}
                              >
                                  <span>
                                    {%- if variant.available -%}
                                      {{ 'products.product.add_to_cart' | t }}
                                    {%- else -%}
                                      {{ 'products.product.sold_out' | t }}
                                    {%- endif -%}
                                  </span>
                                  <div class="loading-overlay__spinner hidden">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                  </div>
                              </button>
                    </div>
              <div class="product-form__error-message-wrapper" role="alert" hidden>
                <span class="product-form__error-message"></span>
              </div>
            {%- endform -%}
          </product-form>
        {%- endfor -%} -->
          <!-- <p style="text-align: center">Click to apply!</p>
          <button id="bagsBtn-{{id}}" class="button button-primary"><span id="bagsbtn-span-{{id}}">1&nbsp;</span> Gutsy Bag (6KG)</button> -->
      </div>
      <div class="calculator-modal-info">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.9998 9H12.9998V7H10.9998V9ZM11.9998 20C7.58976 20 3.99976 16.41 3.99976 12C3.99976 7.59 7.58976 4 11.9998 4C16.4098 4 19.9998 7.59 19.9998 12C19.9998 16.41 16.4098 20 11.9998 20ZM11.9998 2C10.6865 2 9.38618 2.25866 8.17292 2.7612C6.95967 3.26375 5.85727 4.00035 4.92869 4.92893C3.05332 6.8043 1.99976 9.34784 1.99976 12C1.99976 14.6522 3.05332 17.1957 4.92869 19.0711C5.85727 19.9997 6.95967 20.7362 8.17292 21.2388C9.38618 21.7413 10.6865 22 11.9998 22C14.6519 22 17.1955 20.9464 19.0708 19.0711C20.9462 17.1957 21.9998 14.6522 21.9998 12C21.9998 10.6868 21.7411 9.38642 21.2386 8.17317C20.736 6.95991 19.9994 5.85752 19.0708 4.92893C18.1422 4.00035 17.0398 3.26375 15.8266 2.7612C14.6133 2.25866 13.313 2 11.9998 2ZM10.9998 17H12.9998V11H10.9998V17Z" fill="#1A3C32"/>
        </svg>
        <i>This calculation is based on recommended doses in accordance with EU regulation N° 767/2009.</i>
      </div>
    </div>
  </div>
</calculator-element>
