<style>
.product-modal {
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30%;
  background-color: rgba(28, 28, 28, 0.6);
  padding: 1rem;
  z-index: 999;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  visibility: hidden;
}

.product-modal-content {
  background-color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  overflow-y: scroll;
}

.product-modal.open {
  visibility: visible;
}

.modal-text-content {
  text-align: center;
}

.close-product-modal-btn {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.product-img-modal {
  width: 100%;
}
</style>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div id="product-modal-{{product.id}}" class="product-modal">
  <div class="product-modal-content">
    <div class="close-product-modal-btn" id="{{product.id}}">{% render "icon-close-modal" %}
    </div>
    <div>
      <img class="product-img-modal" src="{{ product | image_url: width: 500 }}" alt="">
    </div>
    <div class="modal-text-content">
      <h2>{{product.title}}</h2>
      {% if product.metafields.custom_fields["tagline"] != blank %}
      <h3>{{ product.metafields.custom_fields["tagline"] }}</h3>
      {% endif %}
    </div>
      {% render "product-form", product: product %}
  </div>
</div>

{{ 'component-product-modal.js' | asset_url | script_tag }}
