{%- assign subscription = true -%}
{%- for tag in product.tags -%}
  {%- if tag == "sample-box" -%}
      {%- assign subscription = false -%}
      {%- assign sampleBox = true -%}
  {%- endif -%}
  {%- if tag == "snacks"-%}
      {%- assign subscription = false -%}
  {%- endif -%}
  {%- if tag == "toys" -%}
      {%- assign subscription = false -%}
      {%- assign toys = true -%}
  {%- endif -%}
{%- endfor -%}
{%- if product.selected_or_first_available_variant.inventory_quantity == 0 -%}
  {% assign subscriptionActive = false %}
{%- endif -%}

<div class="product-form-wrap color-{{colorScheme}}">
  {%- if subscription -%}
    {%- unless sampleBox -%}
        <h2>Get <span>one bag</span> or <span>subscribe and save!</span></h2>
    {%- endunless -%}
  {%- endif -%}

  {%- assign product_form_id = 'product-form-' | append: product.id -%}

  <product-form productId="{{product.id}}" class="product-form" data-calculator="{%- if subscription -%}
    true
  {%- endif -%}" data-checkoutBtn="true" data-handle={{product.handle}}>
    {%- form 'product', product, data-productid: product.id, id: product_form_id, class: 'form-grid', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
    <div class="size-quantity">
      {%- unless product.has_only_default_variant -%}
        <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }} data-product="{{product.id}}">
          {%- for option in product.options_with_values -%}
            <div class="product-form__input product-form__input--dropdown">
              <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                {{ option.name }}
              </label>
              <div class="select">
                <select id="variantSelector-{{product.id}}"
                  class="select__select variantSelector"
                  name="options[{{ option.name | escape }}]"
                  form="{{ product_form_id }}"
                  productId="{{product.id}}"
                >
                  {%- for value in option.values -%}
                    <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                      {{ value }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
          {%- endfor -%}

          <script type="application/json">
            {{ product.variants | json }}
          </script>
        </variant-selects>
      {%- endunless -%}

      {%- unless sampleBox -%}
        <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
          <label class="form__label" for="Quantity-{{ section.id }}">
            {{ 'products.product.quantity.label' | t }}
          </label>
          <quantity-input class="quantity">
            <button class="quantity__button no-js-hidden" name="minus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
              {% render 'icon-minus' %}
            </button>
            <input class="quantity__input"
                type="number"
                name="quantity"
                id="quantity-picker-{{product.id}}"
                min="1"
                value="1"
                form="{{ product_form_id }}"
                productId="{{product.id}}"
              >
            <button class="quantity__button no-js-hidden" name="plus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
              {% render 'icon-plus' %}
            </button>
          </quantity-input>
        </div>
      {%- endunless -%}

      {%- if subscription -%}
        {%- unless sampleBox -%}
          {%- unless toys -%}
            <div class="product-form__icons">
              <div calculatorId="{{product.id}}" class="open-calculator-link product-form__calculator-icon">
                {%- render 'icon-calculator' -%}
                <span>Calculate your pet's monthly needs</span>
              </div>
            </div>
          {%- endunless -%}
        {%- endunless -%}
      {%- endif -%}
    </div>

    <div class="after-form">
      {%- if subscriptionActive and subscription -%}
        <div class="sealsubs-target-element" data-product="{{ product | json | escape }}" data-handle="{{ product.handle }}"></div>
        <!-- <input class="subscriptionCheckBox" type="checkbox" name="" value="">
        <span>I want a subscription (10% discount)</span>
        <a target="_blank" class="info-link tooltip" href="{{settings.subscriptions_info_page}}">
          {% render 'icon-info' %}
          <span class="tooltiptext">More information about our subscriptions</span>
        </a> -->
      {%- endif -%}
      <!-- <div class="calculator">
          Not sure how much your pet needs? <br class="hide-desktop"/><span class="open-calculator-link" calculatorId="{{product.id}}" >Try our calculator!</span>
      </div> -->
    </div>


    <div class="product-form__actions">
          <div class="prices">
            {%- if subscription or toys -%}
              <div id="unitPrice-{{product.id}}"class="unitPrice">
                {%- if sampleBox -%}
                    <span>Price per box</span>
                  {%- elsif toys -%}
                    <span>Price per toy</span>
                  {%- else -%}
                    <span>Price per bag</span>
                {%- endif -%}
                <div class="no-js-hidden priceComponent" id="price-{{ section.id }}" data-product="{{product.id}}" role="status" {{ block.shopify_attributes }}>
                  {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
                </div>
              </div>
              {%- unless sampleBox -%}
                <div id="totalPrice-{{product.id}}" class="totalPrice">
                  <span>Total price</span>
                  <h2 class="price price--large"></h2>
                  <span id="perMonthInfo-{{product.id}}" class='perMonthInfo'>Per month</span>
                </div>
              {%- endunless -%}
              {%- else -%}
              <div class="no-js-hidden priceComponent" id="price-{{ section.id }}" data-product="{{product.id}}" role="status" {{ block.shopify_attributes }}>
                {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
              </div>
            {%- endif -%}
          </div>
          <div>
              <div class="product-form__error-message-wrapper" role="alert" hidden>
                <span class="product-form__error-message"></span>
              </div>
          <div class="product-form__buttons">

            {%- if product.selected_or_first_available_variant.available -%}

            <button
              type="submit"
              name="add"
              class="product-form__submit button button-secondary {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
            {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
            >
                <span>
                  {%- if product.selected_or_first_available_variant.available -%}
                    {{ 'products.product.add_to_cart' | t }}
                  {%- else -%}
                    Sold out
                  {%- endif -%}
                </span>
                <div class="loading-overlay__spinner hidden">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
            </button>

          {%- endif -%}

            <button
              id="directCheckout"
              type="submit"
              name="add"
              directCheckout
              class="product-form__submit button button-primary {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
            {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
            >
                <span>
                  {%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}
                    Buy now
                  {%- else -%}
                    Preorder
                  {%- endif -%}
                </span>
                <div class="loading-overlay__spinner hidden">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
            </button>
          </div>
        </div>
        <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.selected_or_first_available_variant.id }}" disabled>
        <div class="product-form__success-wrapper">
          <div class="product-form__success-content">
            {%- render "icon-success" -%}
            <span class="product-form__success-message">Product was added to cart!</span>
          </div>
          <div class="product-form__success-close">Close</div>
        </div>
    </div>
    {%- endform -%}

    {% assign productTitle = product.title | replace: " ", "_" | downcase %}
    {% render "calculator", productTitle: productTitle, id: product.id, product: product, subscriptionActive: subscriptionActive %}
  </product-form>
  <div class="usp-row">
    <div class="usp">
      <img class="usp-icon" src="{{'secure-payment.svg' | asset_url}}" alt="">
      <span>Secure payment</span>
    </div>
    <div class="usp">
      <img class="usp-icon" src="{{'delivery.svg' | asset_url}}" alt="">
      <span>Fast delivery</span>
    </div>
    <div class="usp">
      <img class="usp-icon" src="{{'cancel.svg' | asset_url}}" alt="">
      <span>Cancel subscription anytime</span>
    </div>
  </div>
</div>
