<style>
.product-details-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60vh 1fr;
  height: 100%;
}

.product-details-content-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-details-actions > .button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-details-card-price-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.product-details-text-content {
    text-align: center;
}

.product-details-content {
  padding: 2rem 1rem;
  border-top: 2px solid white;
}

.product-details-section-inner {
  margin: 0;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.2);
  border-radius: 2rem;
  border: 1px solid rgb(var(--color-base-primary-1));
}

.product-media-slideshow {
  position: relative;
  height: 60vh;
}

.media-wrap {
  position: relative;
}

.product-details-slide-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .5s ease;
  max-width: 100%;
  max-height: 60vh;
  cursor: pointer;
}

.next-slide-btn {
  position: absolute;
  top: 50%;
  right: calc(1rem - 7.5px);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.dummy {
  display: block !important;
}

.count {
  position: absolute;
  bottom: 1.75rem;
  right: 2rem;
}

.slideshow-dots {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.slideshow-dot {
  width: .75em;
  height: .75rem;
  border-radius: 50%;
  margin-left: .25rem;
  margin-right: .25rem;
  background-color: white;
  opacity: .6;
  transition: opacity .3s ease;
  display: block !important;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.2);
};

@media screen and (min-width: 1080px) {
  .product-media-slideshow {
    position: relative;
    height: auto;
  }

  .next-slide-btn {
    right: 16px;
  }
}

.product-details-section-inner.color-bg-beige h4, .product-details-section-inner.color-bg-green h4 {
  color: rgb(var(--color-base-primary-2))
}

.product-details-section-inner.color-bg-green h2 {
  color: rgb(var(--color-base-primary-3))
}

.product-details-section-inner.color-bg-beige h2 {
  color: rgb(var(--color-base-primary-1))
}

.product-details-section-inner.color-bg-green .price-item {
  color: rgb(var(--color-base-primary-3))
}

.product-details-section-inner.color-bg-beige .price-item {
  color: rgb(var(--color-base-primary-1))
}
</style>

{%- assign reduceCount = false -%}
{%- for media in product_card_product.media -%}
  {%- if media.alt == "weight-chart" -%}
    {%- assign reduceCount = true -%}
  {%- endif -%}
{%- endfor -%}

{%- for tag in product_card_product.tags -%}
  {%- if tag == "sample-box" -%}
    {%- assign sampleBox = true -%}
  {%- endif -%}
{%- endfor -%}

<section class="product-details-section-inner color-{{color_scheme}} product-card">
  <div class="product-details-grid">
    <div class="product-media-slideshow">
          <div class="next-slide-btn">
              {% render 'icon-arrow-right-orange' %}
          </div>
          <div class="controls-bottom-row">
            <div class="dummy"></div>
            <div class="slideshow-dots">
              {%- for media in product_card_product.media -%}
                {%- unless media.alt == "weight-chart" -%}
                  <div id="{{forloop.index}}" class="slideshow-dot"></div>
                {%- endunless -%}
              {%- endfor -%}
            </div>
            <div class="count">
              {%- if reduceCount -%}
                  {%- assign count = product_card_product.media | size | minus: 1 -%}
                {%- else -%}
                  {%- assign count = product_card_product.media | size -%}
              {%- endif -%}
              <span class="currentSlideNo">1</span>/<span>{{ count }}</span>
            </div>
          </div>
        {% for media in product_card_product.media %}
          {%- unless media.alt == "weight-chart" -%}
              <img id="{{product_card_product.id}}" class="open-product-modal-btn product-details-slide-img" src="{{ media | image_url: width: 500 }}" alt="{{media.alt}}">
          {%- endunless -%}
        {% endfor %}
    </div>
    <div class="product-details-content">
      <div class="product-details-content-inner">
        <div data-scroll class="product-details-text-content">
          <h2 class="no-translate">{{ product_card_product.title | escape }}</h2>
          {% if product_card_product.metafields.custom_fields["tagline"] != blank %}
          <h4>{{ product_card_product.metafields.custom_fields["tagline"] }}</h4>
          {% endif %}
        </div>

        <div class="product-details-card-bottom">
          <div class="h2 product-details-card-price-wrap">
            {%- if sampleBox -%}
                <div class="price">
                      <div class="price__regular">
                        <div class="price-item price-item--regular">FROM €8,98</div>
                      </div>
                </div>
              {%- else -%}
              {% render 'price', product: product_card_product, price_class: '' %}
            {%- endif -%}
          </div>
          <div class="product-details-actions">
            <div class="button-group">

              {%- if sampleBox -%}
                <a href="/discount/SAMPLE_BOX/?redirect=/products/{{product_card_product.handle}}" class="button button-secondary">MORE INFO</a>
                {%- else -%}
                <a href="{{product_card_product.url}}" class="button button-secondary">MORE INFO</a>
              {%- endif -%}

              <button id="{{product_card_product.id}}" class="open-product-modal-btn button button-primary" {%- unless product_card_product.first_available_variant -%}disabled{%- endunless -%}>
                {%- if product_card_product.first_available_variant.inventory_quantity > 0 -%}
                  BUY NOW
                  {%- elsif product_card_product.first_available_variant -%}
                  PREORDER
                  {%- else -%}
                  SOLD OUT
                {%- endif -%}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% render 'product-modal', product: product_card_product %}
