<style>
  .product-form {
    opacity: 1;
    transition: opacity .3s ease;
  }

  .product-form.show {
    opacity: 1;
  }

  .product-form-wrap > h2 {
    color: #1A3C32;
    margin-bottom: 2rem;
    text-align: center;
  }

  .buy-section-content > h3 {
    text-align:center;
  }

  .product-form-wrap > h2 > span {
    color: #F47F36;
  }

  .size-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .size-quantity .form__label {
    margin-top: 1rem;
  }

  .after-form {
    margin-top: 2rem;
    grid-area: calculator;
    margin-bottom: 2rem;
    text-align: center;
  }

  .calculator {
    margin-top: 1rem;
  }

  .calculator > span {
    font-weight: bold;
    color: rgb(var(--color-base-primary-2));
    cursor: pointer;
  }

  .product-form__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }

  .product-form__buttons > .button-secondary {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-color: rgb(var(--color-base-primary-1)) !important;
    color: rgb(var(--color-base-primary-1)) !important;
  }

  .product-form__buttons > .button-primary {
    width: 100%;
  }

  .prices {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  .totalPrice {
    margin-left: 1rem;
  }

  .totalPrice > h2 {
    color: rgb(var(--color-base-primary-2))
  }

  .usp-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    grid-area: icons;
    margin-top: 2rem;
    flex-direction: column;
  }

  .usp {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .usp > span {
    margin-left: .5rem;
  }

  div.rc_popup {
    display: none;
  }

  .rc-radio {
    cursor: default;
  }

  .rc-option--active {
    --rc-active-bg: rgba(var(--color-base-primary-2), 0.3);
    border-radius: 1rem;
  }

  .rc-template__legacy-radio .rc-radio {
    padding: 1rem !important;
  }

  /* input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    cursor: pointer;
  }

  input[type='radio']:checked:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      background-color: rgba(var(--color-base-primary-2));
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
  } */

  @media (min-width: 1080px) {

    .product-form-wrap > h2 {
      text-align: left;
    }

    .product-form__buttons > .button-secondary {
    margin-right: 1rem;
    }

    .buy-section-content > h3 {
      text-align: left;
    }

    .form-grid {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-areas: "left right" "calculator calculator" "actions actions" "icons icons";
      grid-column-gap: 2rem;
    }

    .size-quantity {
      justify-content: flex-end;
    }

    .after-form {
      margin-top: 0;
      text-align: left;
    }

    .prices {
      justify-content: flex-start;
    }

    .product-form__buttons {
      flex-direction: row;
    }

    .product-form__buttons > .button-secondary {
      margin-top: 0rem;
      margin-bottom: 0rem;
    }

    .product-form__buttons > .button-primary {
      width: auto;
    }

    .usp-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-area: icons;
      margin-top: 2rem;
      flex-direction: row;
    }

    .usp {
      margin-bottom: 0rem;
      margin-top: 0rem;
    }

    .hide-desktop {
      display: none;
    }
  }
</style>

{{ 'component-price.css' | asset_url | stylesheet_tag }}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div class="product-form-wrap">
  <h2>Get <span>one bag</span> or <span>subscribe and save!</span></h2>

  {%- assign product_form_id = 'product-form-' | append: section.id -%}

  <product-form productId="{{product.id}}" class="product-form">
    <div class="product-form__error-message-wrapper" role="alert" hidden>
      <span class="product-form__error-message"></span>
    </div>



    {%- form 'product', product, data-productid: product.id, id: product_form_id, class: 'form-grid', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}

    <div class="size-quantity">
      {%- unless product.has_only_default_variant -%}
        <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
          {%- for option in product.options_with_values -%}
            <div class="product-form__input product-form__input--dropdown">
              <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                {{ option.name }}
              </label>
              <div class="select">
                <select id="variantSelector-{{product.id}}"
                  class="select__select variantSelector"
                  name="options[{{ option.name | escape }}]"
                  form="{{ product_form_id }}"
                  productId="{{product.id}}"
                >
                  {%- for value in option.values -%}
                    <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                      {{ value }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
          {%- endfor -%}

          <script type="application/json">
            {{ product.variants | json }}
          </script>
        </variant-selects>
      {%- endunless -%}
      <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
        <label class="form__label" for="Quantity-{{ section.id }}">
          {{ 'products.product.quantity.label' | t }}
        </label>

        <quantity-input class="quantity">
          <button class="quantity__button no-js-hidden" name="minus" type="button">
            <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
            {% render 'icon-minus' %}
          </button>
          <input class="quantity__input"
              type="number"
              name="quantity"
              id="quantity-picker-{{product.id}}"
              min="1"
              value="1"
              form="{{ product_form_id }}"
              productId="{{product.id}}"
            >
          <button class="quantity__button no-js-hidden" name="plus" type="button">
            <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
            {% render 'icon-plus' %}
          </button>
        </quantity-input>
      </div>
    </div>

    <div class="after-form">
      <a class="link" href="">More information about our subscriptions.</a>
      <div class="calculator">
          Not sure how much your pet needs? <br class="hide-desktop"/><span class="open-calculator-link" calculatorId="{{product.id}}" >Try our calculator!</span>
      </div>
    </div>

    <div class="prices">
      <div id="unitPrice-{{product.id}}"class="unitPrice">
        <span>Price per bag</span>
        <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
          {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
        </div>
      </div>
      <div id="totalPrice-{{product.id}}" class="totalPrice">
        <span>Total price</span>
        <h2 class="price--large"></h2>
        <span id="perMonthInfo-{{product.id}}" class='perMonthInfo'>Per month</span>
      </div>
    </div>

      <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.selected_or_first_available_variant.id }}" disabled>
      <div class="product-form__buttons">
        <button
          type="submit"
          name="add"
          class="product-form__submit button button-secondary {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
        {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
        >
            <span>
              {%- if product.selected_or_first_available_variant.available -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </span>
            <div class="loading-overlay__spinner hidden">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
        </button>

        <button
          id="directCheckout"
          type="submit"
          name="add"
          directCheckout
          class="product-form__submit button button-primary {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
        {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
        >
            <span>
              {%- if product.selected_or_first_available_variant.available -%}
                Buy now
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </span>
            <div class="loading-overlay__spinner hidden">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
        </button>
      {% comment %}

              {{ form | payment_button }}
      {% endcomment %}
      </div>

    <div class="usp-row">
      <div class="usp">
        <img class="usp-icon" src="{{'secure-payment.svg' | asset_url}}" alt="">
        <span>Secure payment</span>
      </div>
      <div class="usp">
        <img class="usp-icon" src="{{'delivery.svg' | asset_url}}" alt="">
        <span>Fast delivery</span>
      </div>
      <div class="usp">
        <img class="usp-icon" src="{{'cancel.svg' | asset_url}}" alt="">
        <span>Cancel subscription anytime</span>
      </div>
    </div>
    {%- endform -%}
  </product-form>
</div>

{% assign productTitle = product.title | replace: " ", "_" | downcase %}
{% render "calculator", productTitle: productTitle, id: product.id %}
