{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- assign custom_data = customer.metafields.customer_fields.data -%}

<div class="customer account">
  <div>
    <h1>My account</h1>
  </div>

  <div class="account__grid">
    <div>
      <h3 class="account-title">{{ 'customer.orders.title' | t }}</h3>

      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
          <table role="table" class="order-history">
            <caption class="visually-hidden">{{ 'customer.orders.title' | t }}</caption>
            <thead role="rowgroup">
              <tr role="row">
                <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                <th id="ColumnFulfillment" scope="col" role="columnheader">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for order in customer.orders -%}
                <tr role="row">
                  <td
                    id="RowOrder"
                    role="cell"
                    headers="ColumnOrder"
                    data-label="{{ 'customer.orders.order_number' | t }}"
                  >
                    <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                      {{ order.name }}
                    </a>
                  </td>
                  <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                    {{ order.created_at | time_tag: format: 'date' }}
                  </td>
                  <td headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t }}">
                    {{ order.financial_status_label }}
                  </td>
                  <td headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                    {{ order.fulfillment_status_label }}
                  </td>
                  <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                    {{ order.total_price | money_with_currency }}</td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
          <a href="{{ routes.all_products_collection_url}}">To the shop</a>
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
              <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                <ul role="list">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
                </ul>
              </nav>
          {%- endif -%}
        {%- endif -%}
      {% endpaginate %}
    </div>

    <div class="account__sidebar">
      <div class="account__sidebar-profile">
          {%- if custom_data["profile_picture"] != "" -%}
            <img class="profile-img" src="{{custom_data['profile_picture'].url}}" alt="">
          {%- endif -%}
          <div class="">
            {%- if custom_data["pet_name" != ""] -%}
              <h2 class="color-primary-2">Hey {{customer.first_name}} & <span id="petName">{{ custom_data["pet_name"]}}</span>!</h2>
            {%- else -%}
              <h2 class="color-primary-2">Hey {{customer.first_name}}!</h2>
            {%- endif -%}

            {%- if custom_data["pet_birthday"] != "" -%}
              <p>
                {%- if custom_data["pet_name"] != "" -%}
                  <span>{{ custom_data["pet_name"]}}'s birthday: </span>
                  {%- else -%}
                  <span>Your pet's birthday: </span>
                {%- endif -%}
                <span id="birthday">{{ custom_data["pet_birthday"] | date: "%b %d, %Y" }}</span>
              </p>

              <div class="birthday__message-wrap">
                {%- render 'birthday-cake' -%}
                <p class="birthday__message"></p>
              </div>
            {%- endif -%}

          </div>
      </div>

      <label for="" class="account__label">Address</label>
      {{ customer.default_address | format_address }}
      <div class="account__actions">
        <a href="/account?view=edit">Edit account</a>
        <a href="{{ routes.account_addresses_url }}">
          {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
        </a>
        <a href="
        {{ routes.account_logout_url }}">
          Log out
        </a>
        <a href="/a/subscriptions/manage/">Manage Subscriptions</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
const birthday = document.querySelector('#birthday').innerHTML;
console.log(birthday);

if (birthday != "") {
  const petName = document.querySelector('#petName').innerHTML;
  const birthDate = new Date(birthday);
  const now = new Date();
  const currentYear = now.getFullYear();
  let nextBirthday = new Date(birthDate.setYear(currentYear));
  if (nextBirthday < now) {
    nextBirthday.setYear(currentYear + 1);
  }
  const timeToBirthday = nextBirthday.getTime() - now.getTime();
  const daysToBirthday = Math.floor(timeToBirthday/1000/60/60/24);
  const options = { year: 'numeric', month: 'long', day: 'numeric' }
  const string = `It's ${petName}'s birthday in ${daysToBirthday} days! We will send you an email with a Gutsy discount code a week before your ${petName}'s birthday.`
  const birthdayMessage = document.querySelector('.birthday__message');
  birthdayMessage.innerHTML = string;
}

function getAge(dateString) {
   var ageInMilliseconds = new Date() - new Date(dateString);
   return Math.floor(ageInMilliseconds/1000/60/60/24/365); // convert to years
}



</script>
