<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="stylesheet" href="https://use.typekit.net/ccw0qcl.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>


    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="https://smarteucookiebanner.upsell-apps.com/gdpr_adapter.js?shop=gutsy-bonfire.myshopify.com" type="application/javascript"></script>
  {% capture 'header_content' %}{{ content_for_header }}{% endcapture %}{{ header_content | replace: "trekkie.load(", "(window.deferTrekkie || trekkie.load)(" }}


    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}
    <style media="screen">
      #overlay {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity .5s ease;
      }
    </style>
    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
        --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};

        --color-base-primary-1: {{ settings.primary_1.red }}, {{ settings.primary_1.green }}, {{ settings.primary_1.blue }};
        --color-base-primary-2: {{ settings.primary_2.red }}, {{ settings.primary_2.green }}, {{ settings.primary_2.blue }};
        --color-base-primary-3: {{ settings.primary_3.red }}, {{ settings.primary_3.green }}, {{ settings.primary_3.blue }};

        --color-base-text: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
        --color-base-background-1: {{ settings.colors_background_1.red }}, {{ settings.colors_background_1.green }}, {{ settings.colors_background_1.blue }};
        --color-base-text-white: {{ settings.colors_text_white.red }}, {{ settings.colors_text_white.green }}, {{ settings.colors_text_white.blue }};

        --payment-terms-background-color: {{ settings.colors_background_1 }};

        --page-width: {{ settings.page_width | divided_by: 16 }}rem;
        --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: 16px;
        height: 100%;
      }

      body {
        display: block;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1rem;
        line-height: 1.5rem;
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }

    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  {% render 'weglot_hreftags' %}
  {% render 'weglot_switcher' %}
</head>

  <body class="gradient">
    {%- if template.name == "index" -%}
      <div id="overlay">
        <svg width="121" height="44" viewBox="0 0 121 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M31.984 34.6472C31.984 35.6774 31.3275 36.2187 30.1769 36.2187C29.3016 36.2187 28.4122 35.6774 28.4122 34.6472C28.4122 34.3224 28.5216 33.8335 28.5216 33.0756C28.5216 32.2619 27.918 31.8288 27.0427 31.8288C23.4285 31.8288 21.7484 35.894 13.5141 35.894C6.35269 35.894 0.0560303 32.695 0.0560303 18.3902C0.0560303 7.35439 5.75267 0.128706 16.0483 0.128706C22.6732 0.128706 25.0309 4.13793 28.0486 4.13793C28.8145 4.13793 29.4181 3.81314 29.4181 2.94704C29.4181 2.40572 29.3087 1.80853 29.3087 1.64439C29.3016 0.509373 29.9051 0.0204424 30.8899 0.0204424C31.1097 0.00299683 31.3308 0.0330616 31.5377 0.108553C31.7446 0.184045 31.9325 0.303157 32.0883 0.457636C32.2441 0.612115 32.3641 0.798265 32.4399 1.00319C32.5158 1.20811 32.5457 1.42689 32.5276 1.64439C32.5276 2.24158 32.3087 5.65711 32.2558 7.87825C32.1993 9.27519 32.3652 10.8048 32.3652 11.8875C32.3652 13.459 32.037 14.5417 29.7922 14.6499C25.3556 14.6499 22.3802 12.7536 20.6437 8.41956C19.2248 4.84339 18.4589 3.38009 15.9389 3.38009C13.1435 3.38009 11.5022 6.68386 11.5022 14.2728C11.5022 25.9757 12.6529 31.1234 16.8706 31.1234C20.266 31.1234 22.6202 28.794 22.6202 24.893C22.6202 21.914 22.0167 21.1527 20.319 21.1527C19.8813 21.1527 18.4025 21.3692 17.9648 21.3692C16.8142 21.3692 16.433 20.2342 16.433 19.5811C16.433 18.6627 16.9801 17.7931 18.0213 17.7931C20.266 17.7931 24.2085 18.1178 27.3286 18.1178C30.124 18.1178 34.1759 17.8489 35.2171 17.8489C35.923 17.8489 36.6289 18.3902 36.6289 19.5288C36.6289 20.6673 36.1383 21.2086 35.2171 21.2086C34.8888 21.2086 34.4476 21.1527 34.1582 21.1527C32.1323 21.1527 31.6875 21.914 31.6875 26.9535C31.7123 31.2875 31.984 33.7252 31.984 34.6472Z" fill="#1A3C32"/>
          <path d="M56.6095 35.2663C55.6848 35.2663 54.8447 35.42 53.9553 35.42C53.3023 35.42 52.9176 35.0707 52.9176 34.2396C52.9176 33.0591 53.2247 31.6133 53.2247 30.1675C53.2334 30.0884 53.2248 30.0084 53.1993 29.9329C53.1739 29.8574 53.1322 29.7883 53.0772 29.7303C53.0222 29.6722 52.9552 29.6266 52.8808 29.5966C52.8063 29.5666 52.7262 29.5528 52.6458 29.5563C52.2611 29.5563 52.0705 29.7484 51.9929 30.1675C51.287 33.7436 48.721 35.8006 44.6444 35.8006C39.9502 35.8006 38.5631 33.6703 38.5631 28.6448C38.5631 26.2456 39.3713 22.4389 39.3713 19.2399C39.3713 17.2981 39.2196 16.9175 38.6019 16.9175C38.1395 16.9175 37.8713 16.9559 37.6807 16.9559C36.6783 16.9559 36.5266 16.3447 36.5266 15.7755C36.5266 15.2062 36.6783 14.6893 37.6807 14.6893C38.4501 14.6893 40.2572 14.8779 41.7573 14.8779C42.7985 14.8779 43.9138 14.6893 45.0292 14.6893C45.9892 14.6893 46.6457 14.843 46.6457 16.2888C46.6457 18.4192 45.8762 23.0256 45.8762 27.5587C45.8762 29.8427 46.4127 30.9463 48.0681 30.9463C50.1858 30.9463 51.647 28.32 51.647 23.7869V19.2015C51.647 17.7172 51.4529 16.9559 50.454 16.9559C50.2211 16.9559 49.914 17.0327 49.8011 17.0327C49.0669 17.0327 48.7599 16.4215 48.7599 15.8523C48.7599 15.0525 49.0669 14.6719 49.8011 14.6719C51.107 14.6719 52.6458 14.8255 53.9553 14.8255C55.3671 14.8255 56.8036 14.6719 58.226 14.6719C58.9566 14.6719 59.3802 14.9373 59.3802 15.6218C59.3802 17.0187 59.186 20.9546 59.186 25.1035C59.186 26.9685 59.1507 29.0639 59.2637 30.8904C59.3413 32.4131 59.3413 33.0591 60.1496 33.0591C60.3049 33.0591 60.5025 33.0207 60.5731 33.0207C61.3037 33.0207 61.6108 33.6319 61.6108 34.278C61.6108 34.8507 61.3037 35.42 60.5731 35.42C60.1884 35.42 58.1095 35.2663 56.6095 35.2663Z" fill="#1A3C32"/>
          <path d="M70.5016 35.7999C65.9979 35.7999 64.5755 33.5928 64.5755 29.5556C64.5755 27.8094 64.8438 24.7606 64.8438 22.1308C64.8438 20.9539 64.8438 19.7351 64.7661 18.3242C64.7273 17.4127 64.3814 16.9936 63.919 16.9936C63.5661 16.9936 63.1884 17.0704 62.9978 17.0704C62.2919 17.0704 62.1119 16.4593 62.1119 15.89C62.1119 15.3207 62.3025 14.8423 63.0755 14.6712C65.6132 14.1752 68.038 12.2265 69.5769 10.2533C70.0004 9.72249 70.3463 9.492 70.9216 9.492C71.0489 9.47802 71.1777 9.48996 71.3001 9.52706C71.4226 9.56417 71.536 9.62567 71.6335 9.70777C71.7311 9.78988 71.8106 9.89086 71.8672 10.0045C71.9238 10.1181 71.9564 10.242 71.9628 10.3686C71.9628 10.7877 71.8463 12.0833 71.8463 13.6444C71.8463 14.5943 72.4252 14.7864 73.4629 14.7864C73.8864 14.7864 75.0405 14.6712 75.7323 14.6712C76.5406 14.6712 76.8865 15.2788 76.8865 15.9284C76.8865 16.6513 76.5335 17.259 75.7323 17.259C74.7723 17.259 73.5405 17.1088 72.6934 17.1088C71.8463 17.1088 71.5781 17.4581 71.5781 18.1356C71.5004 21.827 71.4228 25.4451 71.4616 27.8828C71.5004 30.6766 72.2699 31.0783 73.2687 31.0783C74.2676 31.0783 74.5782 29.9363 74.5782 28.9479C74.5782 27.9596 73.8723 26.8909 73.8723 25.8642C73.8723 25.0644 74.3735 24.6069 75.0264 24.6069C76.0641 24.6069 76.6041 25.3054 76.6041 28.2634C76.6182 33.4775 74.9629 35.7999 70.5016 35.7999Z" fill="#1A3C32"/>
          <path d="M91.3928 31.308C91.3928 29.2894 89.6986 28.6817 85.1985 27.2708C81.5808 26.1288 79.0783 24.6446 79.0783 20.6842C79.0783 17.1081 81.5031 14.0977 88.121 14.0977C94.0858 14.0977 97.1636 15.9626 97.1636 18.8193C97.1636 20.5655 95.9706 21.6132 93.7011 21.6132C91.4316 21.6132 89.8187 20.9671 89.8187 19.4794C89.812 19.1751 89.8961 18.8756 90.0606 18.6185C90.2251 18.3613 90.4626 18.1578 90.7434 18.0335C91.0963 17.845 91.2799 17.6529 91.2799 17.3875C91.2799 16.7414 90.7046 16.3397 88.548 16.3397C85.8938 16.3397 84.8173 17.1744 84.8173 18.6238C84.8173 19.9543 85.6997 21.2116 91.1281 22.5457C96.5565 23.8798 97.8589 26.3873 97.8589 29.4745C97.8589 33.7387 94.5517 36.0227 88.2021 36.0227C80.5466 36.0227 78.3901 33.7003 78.3901 30.9972C78.3901 29.1672 79.6995 28.102 82.1984 28.102C84.3938 28.102 85.9327 29.017 85.9327 30.3092C85.9327 31.1089 85.6997 31.5664 85.2267 31.8318C84.7538 32.0973 84.6091 32.2509 84.6091 32.5303C84.6091 33.0996 85.4173 33.4802 87.5351 33.4802C90.0587 33.4383 91.3928 32.8481 91.3928 31.308Z" fill="#1A3C32"/>
          <path d="M97.6259 15.6987C97.6193 15.4393 97.7164 15.1877 97.8962 14.9987C98.0759 14.8097 98.3238 14.6986 98.586 14.6895C99.666 14.6895 101.551 14.9165 103.82 14.9165C105.32 14.9165 106.82 14.7279 108.32 14.6895C108.977 14.6895 109.362 15.147 109.362 15.8699C109.369 16.0106 109.348 16.1515 109.299 16.2839C109.251 16.4164 109.175 16.5378 109.078 16.6408C108.981 16.7439 108.864 16.8264 108.734 16.8836C108.603 16.9407 108.463 16.9713 108.32 16.9735C107.823 16.9735 107.59 17.2005 107.59 17.8885C107.59 20.1725 109.245 24.8173 110.131 27.482C110.484 28.5855 110.939 29.2281 111.977 29.2281C112.708 29.2281 113.248 28.6973 113.248 26.6403C113.248 21.4227 111.398 17.1236 111.398 15.7511C111.398 15.1819 111.553 14.7034 112.245 14.7034C112.863 14.7034 114.67 14.8187 115.941 14.8187C117.324 14.8187 118.478 14.7034 119.248 14.7034C119.788 14.7034 120.056 14.9688 120.056 15.6533C120.056 16.5299 116.71 20.9478 115.171 31.5296C114.169 38.3083 110.89 43.5259 104.851 43.5259C100.502 43.5259 98.9248 41.7343 98.9248 39.2617C98.9248 37.1279 100.425 35.5668 103.079 35.5668C105.811 35.5668 107.004 36.5586 107.004 38.193C107.011 38.5007 106.946 38.8057 106.812 39.0836C106.678 39.3614 106.48 39.6043 106.234 39.7925C105.85 40.0999 105.62 40.2884 105.62 40.7075C105.62 40.9729 105.811 41.165 106.196 41.165C108.737 41.165 111.352 36.9393 111.352 35.2629C111.352 34.2152 111.705 31.0337 110.17 31.0337C108.405 31.0337 106.513 31.341 104.745 31.341C103.665 31.341 103.241 31.0721 102.857 29.4377C100.358 19.4984 99.8178 17.6719 98.3954 16.9874C98.1455 16.8812 97.9363 16.6991 97.7979 16.4674C97.6596 16.2358 97.5994 15.9665 97.6259 15.6987Z" fill="#1A3C32"/>
        </svg>
      </div>
    {%- endif -%}

    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {% section 'announcement-bar' %}
    {% section 'header' %}
    {%- render 'cart-notification', color_scheme: "bg-white" -%}
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>
    <ul hidden class="subscription-calculator-hrefs">
      <li id="subscription-calculator-html" data-href="{{ 'calculator-html.html' | asset_url }}"></li>
      <li id="subscription-calculator-js" data-href="{{ 'component-calculator.js' | asset_url }}"></li>
      <li id="subscription-calculator-css" data-href="{{ 'component-calculator.css' | asset_url }}"></li>
    </ul>

    <script>
      window.shopUrl = '{{ shop.url }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
      }
    </script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if template.name != "product" and template.name != "collection" and template.name != "index" -%}    
      <script src="{{ 'subscription-calculator.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
  </body>
</html>
