{{ 'section-about-page-2.css' | asset_url | stylesheet_tag }}
<div class="about-page-section-2__inner">
  <div class="section-padding color-bg-green">
    <div class="page-width text-center">
    <h1 class="color-primary-3 about-page-section-2__heading">{{ section.settings.headline }}</h1>
    {%- for block in section.blocks -%}
      {%- if block.type == "content_block" -%}
        {%- assign value = forloop.index | modulo:2 -%}

        {%- if value == 0 -%}
          <div class="about-page-section-2__grid">
            <div class="about-page-section-2__grid-left">
              <img src="{{ block.settings.illustration | image_url}}" alt="">
            </div>
            <div class="about-page-section-2__content-wrap">
              <h2 class="color-primary-2">{{ block.settings.headline }}</h2>
              <p>{{ block.settings.content }}</p>
            </div>
          </div>
        {%- else -%}
        <div class="about-page-section-2__grid second">
          <div class="about-page-section-2__content-wrap">
            <h2 class="color-primary-2">{{ block.settings.headline }}</h2>
            <p>{{ block.settings.content }}</p>
          </div>
          <div class="about-page-section-2__grid-left">
            <img src="{{ block.settings.illustration | image_url}}" alt="">
          </div>
        </div>
        {%- endif -%}

      {%- endif -%}
    {%- endfor -%}
  </div>
  </div>
  <div class="section-padding color-bg-beige">
    <h1 class="color-primary-1 about-page-section-2__team-heading">{{ section.settings.team_headline }}</h1>
    <div class="about-page-section-2__team col-{{section.settings.columns}}">
      {%- for block in section.blocks -%}
        {%- if block.type == "team_member" -%}
        <div data-scroll class="about-page-section-2__team-member">
          <div class="team-member__img-wrap">
            <img src="{{block.settings.image_1 | image_url}}" alt="" class="team-member__primary-img">
            <img src="{{block.settings.image_2 | image_url}}" alt="" class="team-member__secondary-img">
          </div>
          <div class="team-member__text-content">
            <h2 data-pet_name="{{block.settings.pet_name}}" data-name="{{block.settings.name}}" class="color-primary-1">{{block.settings.name}}</h2>
            <strong class="color-primary-2">{{block.settings.function}}</strong>
            <p>{{ block.settings.text }}</p>
          </div>
        </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</div>

<script type="text/javascript">
  const teamMemberImages = document.querySelectorAll('.team-member__img-wrap');

  const headings = document.querySelectorAll('.team-member__text-content h2')

  teamMemberImages.forEach((image, i) => {
    image.addEventListener('mouseenter', () => {
      image.querySelector('.team-member__secondary-img').classList.add('show')

      const petName = headings[i].dataset.pet_name;
      if (petName) {
        headings[i].innerHTML = petName;
      }

    })
    image.addEventListener('mouseleave', () => {
      image.querySelector('.team-member__secondary-img').classList.remove('show')

      const name = headings[i].dataset.name;
      if (name) {
        headings[i].innerHTML = name;
      }
    })
  });

</script>

{% schema %}
{
  "name": "About Page Section_2",
  "tag": "section",
  "class": "about-page-section-2",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "Section Headline",
      "default": "The Gutsy Story"
    },
    {
      "type": "text",
      "id": "team_headline",
      "label": "Team Headline",
      "default": "Meet the pack"
    },
    {
      "type": "select",
      "id": "columns",
      "label": "Aantal kolommen Team",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "5",
          "label": "5"
        }
      ],
      "default": "5"
    }
  ],
  "blocks": [
    {
      "type": "content_block",
      "name": "Content Block",
      "settings": [
        {
          "type": "text",
          "id": "headline",
          "label": "Headline"
        },
        {
          "type": "image_picker",
          "id": "illustration",
          "label": "illustration"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "team_member",
      "name": "Team Member",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "pet_name",
          "label": "Pet Name"
        },
        {
          "type": "text",
          "id": "function",
          "label": "Function"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2 (shown on hover)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About Page Team"
    }
  ]
}
{% endschema %}
