{%- if section.settings.show -%}
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'announcement'-%}
        {%- if block.settings.text != blank -%}
          {%- assign announcement = true -%}
        {%- endif -%}
    {%- endcase -%}
  {%- endfor -%}

<div class="announcement-bar color-{{ section.settings.color_scheme }} gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}">
<div class="announcement-bar-inner page-width {% if announcement != true %} justify-end{% endif %}">
  <div class="announcement-bar__text-slider--wrap">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'announcement' -%}
              {%- if block.settings.text != blank -%}
              <div class="announcement-bar__message-wrap {% unless forloop.first %}hidden{% endunless %}">
                {%- if block.settings.link != blank -%}
                  <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
                {%- endif -%}
                    <p class="announcement-bar__message">
                      {{ block.settings.text | escape }}
                    </p>
                {%- if block.settings.link != blank -%}
                  </a>
                {%- endif -%}
              </div>
              {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
      {%- if section.blocks.size > 1 -%}
        <div class="announcement-bar__next-btn">{% render 'icon-arrow-right-white' %}</div>
      {%- endif -%}
  </div>
  <div class="announcement-bar__right">
    {%- render 'social-media-icons'-%}
    {%- if shop.customer_accounts_enabled -%}
      <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="link announcement-bar__link">
        {%- liquid
          if customer
            echo 'customer.account_fallback' | t
          else
            echo 'customer.log_in' | t
          endif
        -%}
      </a>
    {%- endif -%}
  </div>

  </div>
</div>

{%- endif -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "settings": [
    {
      "type": "checkbox",
      "id": "show",
      "default": true,
      "label": "Show announcement bar"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "bg-green",
          "label": "Green Background"
        },
        {
          "value": "bg-beige",
          "label": "Beige Background"
        },
        {
          "value": "bg-white",
          "label": "White Background"
        }
      ],
      "default": "bg-white",
      "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.label"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
