{{ 'section-details-product.css' | asset_url | stylesheet_tag }}
{% assign type = "" %}
{% for tag in product.tags %}
  {% case tag %}
    {% when "puppy" %}
    {% assign type = "puppy" %}
    {% when "adult-s" %}
    {% assign type = "adult-s" %}
    {% when "adult-l" %}
    {% assign type = "adult-l" %}
  {% endcase %}
{% endfor %}

<section class="product-details-section-inner {{type}}">
  <div class="product-details-grid">
    <div class="product-details-img">
        <img class="product-details-img-tag" src="{{ product | image_url: width: 500 }}" alt="">
    </div>
    <div class="product-details-content {{type}}">
      <div data-scroll class="product-details-content-inner">
        <div class="product-details-text-content">
          <h1>{{ product.title | escape }}</h1>
          {% if product.metafields.custom_fields["tagline"] != blank %}
          <h3>{{ product.metafields.custom_fields["tagline"] }}</h3>
          {% endif %}
          <p>{{product.content}}</p>
        </div>
        {% render 'product-usp-icons' %}
        <div class="product-details-actions">
          <button onclick="scrollToNextSection()" class="button button-primary">More info <img src="{{'arrow-down-white.svg' | asset_url }}" alt=""></button>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  function scrollToNextSection() {
    const nextSection = document.querySelector('#section-product-detail-usp');
    nextSection.scrollIntoView({behavior: "smooth"});
  }
</script>

{% schema %}
{
  "name": "Product details",
  "tag": "section",
  "class": "product-details-section",
  "presets": [
    {
      "name": "Product details"
    }
  ]
}
{% endschema %}
