{{ 'section-details-product.css' | asset_url | stylesheet_tag }}
{% assign type = "" %}
{% for tag in product.tags %}
  {% case tag %}
    {% when "puppy" %}
    {% assign type = "puppy" %}
    {% when "adult-s" %}
    {% assign type = "adult-s" %}
    {% when "adult-l" %}
    {% assign type = "adult-l" %}
  {% endcase %}
  {%- if type == "" -%}
    {%- assign type = "puppy" -%}
  {%- endif -%}
  {%- if tag == "kibble" -%}
    {%- assign kibble = true -%}
  {%- endif -%}
  {%- if tag == "sample-box" -%}
    {% assign sampleBox = true %}
  {%- endif -%}
  {%- if tag == "toys" -%}
    {%- assign toys = true -%}
  {%- endif -%}
{% endfor %}

<section class="product-details-section-inner {{type}}">
  <div class="product-details-grid">
    <div class="product-details-img">
      <div class="product-media-slideshow">
        <div class="controls">
            <div class="next-slide-btn">
                {% render 'icon-arrow-right-orange' %}
            </div>
            <div class="controls-bottom-row">
              <div class="dummy"></div>
              <div class="slideshow-dots">
                {%- for media in product.media -%}
                    <div id="{{forloop.index}}" class="slideshow-dot"></div>
                {%- endfor -%}
              </div>
              <div class="count">
                {%- assign count = product.media | size -%}
                <span class="currentSlideNo">1</span>/<span>{{ count }}</span>
              </div>
            </div>
        </div>
          {% for media in product.media %}
            <img class="product-details-slide-img" src="{{ media | image_url: width: 500 }}" alt="">
          {% endfor %}
      </div>
    </div>
    <div class="product-details-content {{type}}">
      <div data-scroll class="product-details-content-inner">
        <div class="product-details-text-content">
          <h1 class="no-translate">{{ product.title | escape }}</h1>
          {% if product.metafields.custom_fields["tagline"] != blank %}
          <h3>{{ product.metafields.custom_fields["tagline"] }}</h3>
          {% endif %}
          <p>{{product.content}}</p>
        </div>
        {%- unless toys -%}
          {% render 'product-usp-icons' %}
        {%- endunless -%}
        {%- unless sampleBox -%}
          <div class="product-details-actions">
            {%- if kibble -%}
              <button onclick="scrollToNextSection()" class="button button-secondary">More info</button>
            {%- endif -%}
            <button type="button" onclick="scrollToBuyForm()" name="button" class="button button-primary">Buy now</button>
          </div>
        {%- endunless -%}
        {%- if sampleBox -%}
          <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
          {{ 'component-product-form.css' | asset_url | stylesheet_tag }}
          {{ 'component-price.css' | asset_url | stylesheet_tag }}
          {%- render 'product-form' -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  function scrollToNextSection() {
    const nextSection = document.querySelector('#section-product-detail-usp');
    nextSection.scrollIntoView({behavior: "smooth"});
  }

  function scrollToBuyForm() {
    const buyForm = document.querySelector('.product-buy-section');
    buyForm.scrollIntoView({ behavior: "smooth"} )
  }
</script>

<script type="text/javascript">

  const slideshow = document.querySelectorAll('.product-media-slideshow');

  slideshow.forEach(slideshow => {
    const slides = slideshow.querySelectorAll('.product-details-slide-img');

      slides[0].style.opacity = 1;

      let currentSlide = 0;
      let maxSlide = slides.length - 1;

      slideshow.querySelector(".slideshow-dot:nth-child(1)").style.opacity = 1;

      // setInterval(function () {
      //   slides[currentSlide].style.opacity = 0;
      //   if (currentSlide != maxSlide) {
      //     const nextSlide = currentSlide + 1;
      //     slides[nextSlide].style.opacity = 1;
      //     currentSlide = nextSlide;
      //     slideshow.querySelector('.currentSlideNo').innerHTML = nextSlide + 1;
      //     slideshowDots.forEach(dot => dot.style.opacity = .6)
      //     slideshow.querySelector(".slideshow-dot:nth-child("+(nextSlide + 1) +")").style.opacity = 1;
      //   } else {
      //     slides[0].style.opacity = 1;
      //     currentSlide = 0;
      //     slideshowDots.forEach(dot => dot.style.opacity = .6)
      //     slideshow.querySelector(".slideshow-dot:nth-child(1)").style.opacity = 1;
      //     slideshow.querySelector('.currentSlideNo').innerHTML = 1;
      //   }
      // }, 5000);

      const nextSlideBtn = slideshow.querySelector('.next-slide-btn');
      nextSlideBtn.addEventListener('click', () => {
        slides[currentSlide].style.opacity = 0;
        if (currentSlide != maxSlide) {
          const nextSlide = currentSlide + 1;
          slides[nextSlide].style.opacity = 1;
          currentSlide = nextSlide;
          slideshow.querySelector('.currentSlideNo').innerHTML = nextSlide + 1;
          slideshowDots.forEach(dot => dot.style.opacity = .6)
          slideshow.querySelector(".slideshow-dot:nth-child("+(nextSlide + 1) +")").style.opacity = 1;
        } else {
          slides[0].style.opacity = 1;
          currentSlide = 0;
          slideshowDots.forEach(dot => dot.style.opacity = .6)
          slideshow.querySelector(".slideshow-dot:nth-child(1)").style.opacity = 1;
          slideshow.querySelector('.currentSlideNo').innerHTML = 1;
        }
      })

      const slideshowDots = slideshow.querySelectorAll('.slideshow-dot');
      slideshowDots.forEach(slideshowDot => {
        slideshowDot.addEventListener('click', function(e) {
          const id = e.target.getAttribute('id')
          slideshowDots.forEach(dot => dot.style.opacity = .7)
          e.target.style.opacity = 1;
          slides.forEach(slide => {
            slide.style.opacity = 0;
          });
          slides[parseInt(id) - 1].style.opacity = 1;
          slideshow.querySelector('.currentSlideNo').innerHTML = id;
        })
      })
  })
</script>

{% schema %}
{
  "name": "Product details",
  "tag": "section",
  "class": "product-details-section",
  "presets": [
    {
      "name": "Product details"
    }
  ]
}
{% endschema %}
