{{ "section-faq-content.css" | asset_url | stylesheet_tag }}

<div data-sectionId="{{section.id}}" class="faq-content-section__inner hidden">
  <div class="page-width">
    <div class="faq-content__grid">
      <div class="faq-content-section__sidebar">
        <!-- {%- for block in section.blocks -%}
          {%- if block.settings.category != "" -%}
            <div id="btn-{{ forloop.index }}" onclick="scrollToSection({{forloop.index}})" class="faq-content__category-link {% if forloop.first %}
              active
            {% endif %}">
              {{ block.settings.category }}
            </div>
          {%- endif -%}
        {%- endfor -%} -->
      </div>
      <div class="faq-content-section__content-wrap">
        {%- for block in section.blocks -%}
          <div class="faq-card">
             {%- if block.type == "faq" -%}
              {%- if block.settings.category != "" -%}
                <div class="faq-card__spacer"></div>
               <h2 id="category-{{section.id}}-{{ block.settings.category | remove: " " | remove: "," }}" class="color-primary-2 category__title">{{block.settings.category}}</h2>
              {%- endif -%}
             <div class="faq-content-section__card">
                 <div onclick="openFAQ('{{section.id}}-{{forloop.index}}')" class="faq-content-section__card-heading">
                    <h3 class="faq-content-section__question">{{block.settings.question}}</h3>
                    {%- render 'icon-arrow-down-orange' -%}
                 </div>
                 <div id="faq-answer_{{section.id}}-{{forloop.index}}" class="faq-content-section__card-answer">
                    <p>{{block.settings.answer}}</p>
                 </div>
             </div>
             {%- endif -%}
            </div>
          {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{%- schema -%}
{
  "name": "FAQ Content section",
  "tag": "section",
  "class": "faq-content-section",
  "presets": [
    {
      "name": "FAQ Content Section"
    }
  ],
  "settings": [

  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ Block",
      "settings": [
        {
          "type": "text",
          "id": "category",
          "label": "Category",
          "info": "IMPORTANT: Only set this for the first FAQ of each category."
        },
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ]
}
{%- endschema -%}
