<style>
.faq-content-section__content-wrap {
  max-width: 740px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.faq-content-section__content-wrap > h2 {
  margin-bottom: 1rem;
}

.faq-content-section__question {
  font-size: 1.5rem;
}

.faq-content-section__card-answer {
  display: none;
}

.faq-content-section__card-answer.open {
  display: block;
}

.faq-content-section__card-heading {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
}

.faq-content-section__card-heading > svg {
  margin-left: 1rem;
}

.faq-content-section__card-heading > h3 {
  margin-bottom: 0rem;
}


</style>

<div class="faq-content-section__inner">
  <div class="page-width">
    <div class="faq-content-section__content-wrap">
      <h2>{{section.settings.content-title}}</h2>
      {%- for block in section.blocks -%}
         {%- if block.type == "faq" -%}
         <div class="faq-content-section__card">
             <div onclick="openFAQ('{{section.id}}-{{forloop.index}}')" class="faq-content-section__card-heading">
                <h3 class="faq-content-section__question">{{block.settings.question}}</h3>
                {%- render 'icon-arrow-down-orange' -%}
             </div>
             <div id="faq-answer_{{section.id}}-{{forloop.index}}" class="faq-content-section__card-answer">
                <p>{{block.settings.answer}}</p>
             </div>
         </div>
         {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</div>

<script type="text/javascript">

function openFAQ(id) {
      const answers = document.querySelectorAll('.faq-content-section__card-answer');

      const answerToOpen = document.querySelector('#faq-answer_' + id);
      console.log(answerToOpen);

      if (answerToOpen.classList.contains('open')) {
        console.log('classlist contains open');
        answers.forEach((answer, i) => {
          answer.classList.remove('open')
        });
      } else {
        console.log('classlist does not contain open');
        answers.forEach((answer, i) => {
          answer.classList.remove('open')
        });
        answerToOpen.classList.add('open')
      }
}

</script>

{%- schema -%}
{
  "name": "FAQ Content section",
  "tag": "section",
  "class": "faq-content-section",
  "presets": [
    {
      "name": "FAQ Content Section"
    }
  ],
  "settings": [
    {
      "type": "text",
      "label": "Content Title",
      "id": "content-title"
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ Block",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ]
}
{%- endschema -%}
