{{ "section-homepage-usp-insects.css" | asset_url | stylesheet_tag }}

<div class="section-homepage-usp-insects-inner color-{{section.settings.color_scheme}}">
    <div class="homepage-usp-insects-section__left page-width">
      <div class="section-padding">
        <h1 class="color-{{section.settings.heading_color}}">{{section.settings.headline}}</h1>
        {%- for block in section.blocks -%}
            <div class="homepage-usp-insects__card">
              <div class="homepage-usp-insects__card-heading">
                {{block.settings.svg_icon}}
                <h2 class="color-{{section.settings.subheading_color}}">{{block.settings.title}}</h2>
              </div>
              <p>{{block.settings.content}}</p>
            </div>
        {%- endfor -%}
        <a href="{{section.settings.button_href}}" class="button button-secondary">{{section.settings.button_text}}</a>
      </div>
    </div>
    <div class="homepage-usp-insects-section__right" style="background-image: url({{section.settings.image | image_url: width: 1080}})"></div>
</div>

{% schema %}
{
  "name": "Home USPs Insects",
  "tag": "section",
  "class": "section-homepage-usp-insectss",
  "blocks": [
    {
      "type": "usp-insects",
      "name": "usp-insects",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "textarea",
          "id": "svg_icon",
          "label": "SVG Icon code"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "bg-green",
          "label": "Green Background"
        },
        {
          "value": "bg-beige",
          "label": "Beige Background"
        },
        {
          "value": "bg-white",
          "label": "White Background"
        }
      ],
      "default": "bg-white",
      "label": "t:sections.rich-text.settings.color_scheme.label"
    },
    {
      "type":"text",
      "id": "headline",
      "label": "Headline",
      "default": "Why try Gutsy?"
    },
    {
      "type": "select",
      "id": "heading_color",
      "label": "Kleur heading",
      "default": "primary-1",
      "options": [
        {
          "value": "primary-1",
          "label": "Gutsy Green"
        },
        {
          "value": "primary-2",
          "label": "Gutsy Orange"
        },
        {
          "value": "primary-3",
          "label": "Gutsy Beige"
        }
      ]
    },
    {
      "type": "select",
      "id": "subheading_color",
      "label": "Kleur subheading",
      "default": "primary-1",
      "options": [
        {
          "value": "primary-1",
          "label": "Gutsy Green"
        },
        {
          "value": "primary-2",
          "label": "Gutsy Orange"
        },
        {
          "value": "primary-3",
          "label": "Gutsy Beige"
        }
      ]
    },
    {
      "type": "text",
      "id":"button_text",
      "label": "Button Text",
      "default": "Discover all the benefits"
    },
    {
      "type": "url",
      "id": "button_href",
      "label": "Button link"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Home USPs Insects"
    }
  ]
}
{% endschema %}
