{{ "section-homepage-usp.css" | asset_url | stylesheet_tag }}
{{ "section-all-benefits.css" | asset_url | stylesheet_tag }}

<div class="section-homepage-usp-inner section-padding color-{{section.settings.color_scheme}}">
  <div class="page-width section-homepage-usp-inner__grid">
    <div class="homepage-usp-section__left">
      <div class="all-benefits__bowl-wrap homepage">
        {%- render "dog-bowl" -%}
      </div>
    </div>
      <div class="homepage-usp-section__right">
        <h1 class="color-{{section.settings.heading_color}}">{{section.settings.headline}}</h1>
        {%- for block in section.blocks -%}
            <div data-scroll class="homepage-usp__card">
              <div class="homepage-usp__card-heading">
                {{block.settings.svg_icon}}
                <h2 class="color-{{section.settings.subheading_color}}">{{block.settings.title}}</h2>
              </div>
              <p>{{block.settings.content}}</p>
            </div>
        {%- endfor -%}

        <a href="{{section.settings.button_href}}" class="button button-secondary">{{section.settings.button_text}}</a>
      </div>
  </div>
</div>

<script src="{{ 'section-all-benefits.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Homepage USPs",
  "tag": "section",
  "class": "section-homepage-usps",
  "blocks": [
    {
      "type": "usp",
      "name": "USP",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "textarea",
          "id": "svg_icon",
          "label": "SVG Icon code"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "bg-green",
          "label": "Green Background"
        },
        {
          "value": "bg-beige",
          "label": "Beige Background"
        },
        {
          "value": "bg-white",
          "label": "White Background"
        }
      ],
      "default": "bg-white",
      "label": "t:sections.rich-text.settings.color_scheme.label"
    },
    {
      "type":"text",
      "id": "headline",
      "label": "Headline",
      "default": "Why try Gutsy?"
    },
    {
      "type": "select",
      "id": "heading_color",
      "label": "Kleur heading",
      "default": "primary-1",
      "options": [
        {
          "value": "primary-1",
          "label": "Gutsy Green"
        },
        {
          "value": "primary-2",
          "label": "Gutsy Orange"
        },
        {
          "value": "primary-3",
          "label": "Gutsy Beige"
        }
      ]
    },
    {
      "type": "select",
      "id": "subheading_color",
      "label": "Kleur subheading",
      "default": "primary-1",
      "options": [
        {
          "value": "primary-1",
          "label": "Gutsy Green"
        },
        {
          "value": "primary-2",
          "label": "Gutsy Orange"
        },
        {
          "value": "primary-3",
          "label": "Gutsy Beige"
        }
      ]
    },
    {
      "type": "text",
      "id":"button_text",
      "label": "Button Text",
      "default": "Discover all the benefits"
    },
    {
      "type": "url",
      "id": "button_href",
      "label": "Button link"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Homepage USPs"
    }
  ]
}
{% endschema %}
