{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}
{{ 'section-details-product.css' | asset_url | stylesheet_tag }}
{{ "component-product-form.css" | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- if section.settings.layout == 'col' -%}
<div class="section-padding {% if section.settings.layout == 'col' %}color-bg-green{% endif %}">
  {%- endif -%}

  <div id="ProductGridContainer" class="{% if section.settings.layout == 'col' %}page-width{% endif %}">
    <div class="main-collection__filters">
      {%- assign currentCollection = collection -%}
      {%- for collection in collections -%}
        {%- if collection.title != "Homepage" -%}
          <a href="{{collection.url}}" class="button button-secondary filter-button {% if currentCollection.title == collection.title %}active{% endif %}">{{ collection.title }}</a>
        {%- endif -%}
      {%- endfor -%}
    </div>
    {%- paginate collection.products by section.settings.products_per_page -%}
      {%- if collection.products.size == 0 -%}
        <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
          <div class="loading-overlay gradient"></div>
          <div class="title-wrapper center">
            <h2 class="title title--primary">
              {{ 'sections.collection_template.empty' | t }}<br>
              {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
            </h2>
          </div>
        </div>
      {%- else -%}
        <div class="collection {% if section.settings.layout == 'col' %}collection__grid-col{% endif %}">
          <div class="loading-overlay gradient"></div>
            {%- if section.settings.layout == "row" -%}
                {%- for product in collection.products -%}
                      {% render 'product-row',
                        product_row_product: product
                      %}

                {%- endfor -%}
              {%- else -%}
                <div class="collection__product-card-grid">
                  {%- for product in collection.products -%}
                    {%- assign val = forloop.index | modulo:2 -%}
                    {%- if val ==  0 -%}
                        {% render 'product-card', product_card_product: product, color_scheme: "bg-beige" %}
                      {%- else -%}
                          {% render 'product-card', product_card_product: product, color_scheme: "bg-beige" %}
                    {%- endif -%}
                  {%- endfor -%}
                </div>
            {%- endif -%}
          {%- if paginate.pages > 1 -%}
            {% render 'pagination', paginate: paginate, anchor: '' %}
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endpaginate -%}
  </div>
  {%- if section.settings.layout == 'col' -%}
  </div>
{%- endif -%}


<script type="text/javascript">

  const slideshow = document.querySelectorAll('.product-media-slideshow');

  slideshow.forEach(slideshow => {
    const slides = slideshow.querySelectorAll('.product-details-slide-img');

      slides[0].style.opacity = 1;

      let currentSlide = 0;
      let maxSlide = slides.length - 1;

      slideshow.querySelector(".slideshow-dot:nth-child(1)").style.opacity = 1;

      setInterval(function () {
        slides[currentSlide].style.opacity = 0;
        if (currentSlide != maxSlide) {
          const nextSlide = currentSlide + 1;
          slides[nextSlide].style.opacity = 1;
          currentSlide = nextSlide;
          slideshow.querySelector('.currentSlideNo').innerHTML = nextSlide + 1;
          slideshowDots.forEach(dot => dot.style.opacity = .6)
          slideshow.querySelector(".slideshow-dot:nth-child("+(nextSlide + 1) +")").style.opacity = 1;
        } else {
          slides[0].style.opacity = 1;
          currentSlide = 0;
          slideshowDots.forEach(dot => dot.style.opacity = .6)
          slideshow.querySelector(".slideshow-dot:nth-child(1)").style.opacity = 1;
          slideshow.querySelector('.currentSlideNo').innerHTML = 1;
        }
      }, 5000);

      const nextSlideBtn = slideshow.querySelector('.next-slide-btn');
      nextSlideBtn.addEventListener('click', () => {
        slides[currentSlide].style.opacity = 0;
        if (currentSlide != maxSlide) {
          const nextSlide = currentSlide + 1;
          slides[nextSlide].style.opacity = 1;
          currentSlide = nextSlide;
          slideshow.querySelector('.currentSlideNo').innerHTML = nextSlide + 1;
          slideshowDots.forEach(dot => dot.style.opacity = .6)
          slideshow.querySelector(".slideshow-dot:nth-child("+(nextSlide + 1) +")").style.opacity = 1;
        } else {
          slides[0].style.opacity = 1;
          currentSlide = 0;
          slideshowDots.forEach(dot => dot.style.opacity = .6)
          slideshow.querySelector(".slideshow-dot:nth-child(1)").style.opacity = 1;
          slideshow.querySelector('.currentSlideNo').innerHTML = 1;
        }
      })

      const slideshowDots = slideshow.querySelectorAll('.slideshow-dot');
      slideshowDots.forEach(slideshowDot => {
        slideshowDot.addEventListener('click', function(e) {
          const id = e.target.getAttribute('id')
          slideshowDots.forEach(dot => dot.style.opacity = .7)
          e.target.style.opacity = 1;
          slides.forEach(slide => {
            slide.style.opacity = 0;
          });
          slides[parseInt(id) - 1].style.opacity = 1;
          slideshow.querySelector('.currentSlideNo').innerHTML = id;
        })
      })
  })
</script>

{{ 'component-product-form.js' | asset_url | script_tag }}
{{ 'component-product-modal.js' | asset_url | script_tag }}
{{ 'component-calculator.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "collection-grid-section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "select",
      "label": "Layout",
      "id": "layout",
      "default": "col",
      "options": [
        {
          "value": "row",
          "label": "Row"
        },
        {
          "value": "col",
          "label": "Column"
        }
      ]
    }
  ]
}
{% endschema %}
