{{ "section-all-benefits.css" | asset_url | stylesheet_tag }}

<div id="all-benefits" class="section-homepage-usp-inner section-padding color-{{section.settings.color_scheme}}">
  <div class="page-width">
    <!-- <h1 class="text-center color-{{section.settings.heading_color}}">{{section.settings.headline}}</h1> -->
    <div class="all-benefits__grid">
      <div class="all-benefits__content-left">
        {%- for block in section.blocks -%}
            {%- if forloop.index <= 3 -%}
              <div data-scroll class="all-benefits__usp-card">
                <div class="all-benefits__usp-card--heading">
                  {{ block.settings.svg_icon }}
                  <h2 class="color-primary-1">{{ block.settings.title }}</h2>
                </div>
                <p>{{ block.settings.content }}</p>
              </div>
            {%- endif -%}
        {%- endfor -%}
      </div>
      <div class="all-benefits__bowl-wrap">
        {%- render "dog-bowl-1" -%}
        {%- render "dog-bowl-2" -%}
      </div>
      <div class="all-benefits__content-left">
        {%- for block in section.blocks -%}
              {%- if forloop.index > 3 -%}
              <div data-scroll class="all-benefits__usp-card">
                <div class="all-benefits__usp-card--heading">
                  {{ block.settings.svg_icon }}
                  <h2 class="color-primary-1">{{ block.settings.title }}</h2>
                </div>
                <p>{{ block.settings.content }}</p>
              </div>
            {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>

</div>

<script src="{{ 'section-all-benefits.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "All Benefits USPs",
  "tag": "section",
  "class": "section-all-benefits-usps",
  "blocks": [
    {
      "type": "usp",
      "name": "USP",
      "limit": 6,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "textarea",
          "id": "svg_icon",
          "label": "SVG Icon code"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "bg-green",
          "label": "Green Background"
        },
        {
          "value": "bg-beige",
          "label": "Beige Background"
        },
        {
          "value": "bg-white",
          "label": "White Background"
        }
      ],
      "default": "bg-white",
      "label": "t:sections.rich-text.settings.color_scheme.label"
    },
    {
      "type":"text",
      "id": "headline",
      "label": "Headline",
      "default": "Why try Gutsy?"
    },
    {
      "type": "select",
      "id": "heading_color",
      "label": "Kleur heading",
      "default": "primary-1",
      "options": [
        {
          "value": "primary-1",
          "label": "Gutsy Green"
        },
        {
          "value": "primary-2",
          "label": "Gutsy Orange"
        },
        {
          "value": "primary-3",
          "label": "Gutsy Beige"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "All benefits USPs"
    }
  ]
}
{% endschema %}
