{{ 'section-video-banner.css' | asset_url | stylesheet_tag }}


<div id="section-video-banner" class="">
  <div class="section-video-banner-background">
    {% if section.settings.show_overlay_1 %}
          <div style="background-color: {{section.settings.background_overlay_1}}" class="section-video-banner-overlay"></div>
    {% endif %}

    {% if section.settings.show_overlay_2 %}
        <div style="background: {{section.settings.background_overlay_2}}" class="section-video-banner-overlay overlay-2"></div>
    {% endif %}

    <video class="section-video-banner-video" src="{{section.settings.video_url}}" autoplay loop muted />
  </div>
  <div class="section-video-banner-content page-width">
    <div style="max-width: {{section.settings.content-width}}px" class="section-video-banner-content-left">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading'-%}
            <h1 class="section-video-banner-heading color-{{block.settings.heading_color}}">{{ block.settings.heading}}</h1>
          {%- when 'subheading' -%}
            <p class="section-video-banner-subheadline subheadline-{{block.settings.color}}">{{block.settings.subheading}}</p>
          {%- when 'buttons' -%}
              <div class="section-video-banner-button-group button-group" {{ block.shopify_attributes }}>
                {%- if block.settings.button_label_1 != blank -%}
                  <a{% if block.settings.button_link_1 == blank %} role="link" {% else %} href="{{ block.settings.button_link }}"{% endif %} class="button button-{{block.settings.button_style_1}} {% if block.settings.button_style_1 == 'secondary' %} color-{{block.settings.button_secondary_color}} {% endif %}">
                    {{ block.settings.button_label_1 | escape }}
                  </a>
                {%- endif -%}

                {%- if block.settings.button_label_2 != blank -%}
                  <a{% if block.settings.button_link_2 == blank %} role="link" {% else %} href="{{ block.settings.button_link }}"{% endif %} class="button button-{{block.settings.button_style_2}} {% if block.settings.button_style_2 == 'secondary' %} color-{{block.settings.button_secondary_color}} {% endif %}">
                    {{ block.settings.button_label_2 | escape }}
                  </a>
                {%- endif -%}
              </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
    <div class="section-video-banner-content-right">
      {%- for block in section.blocks -%}
        {%- if block.type == "blog_feature" -%}
          {%- if block.settings.blog != blank -%}
            {%- for article in block.settings.blog.articles limit: 3 -%}
            <div id="blog-feature-card-{{forloop.index}}" class="section-video-banner-blog-feature-card">
              <div id="blog-feature-title-{{forloop.index}}" class="blog-feature-title">
                <h3 class="blog-feature-count">0{{forloop.index}}</h3>
                <h3 class="blog-feature-article-title">{{article.title | escape}}</h3>
              </div>
                <div id="blog-feature-line-{{forloop.index}}" class="blog-feature-line"></div>
                <a id="blog-feature-card-button-{{forloop.index}}" href="{{article.url}}" target="_blank" class="blog-feature-card-button">
                  <span>Discover</span>
                  {% render 'icon-arrow-right-white.liquid' %}
                </a>
            </div>
            {%- endfor -%}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{{ 'section-video-banner.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Video Banner",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "text",
      "id": "video_url",
      "default": "https://gutsy-website.s3.eu-west-3.amazonaws.com/Dog+Running.mp4",
      "label": "Video URL"
    },
    {
      "type": "color_background",
      "id": "background_overlay_1",
      "label": "Background Overlay 1",
      "default": "#1A3C32"
    },
    {
      "type": "checkbox",
      "id": "show_overlay_1",
      "label": "Show Background Overlay 1",
      "default": true
    },
    {
      "type": "color_background",
      "id": "background_overlay_2",
      "label": "Background Overlay 2",
      "default": "linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%)"
    },
    {
      "type": "checkbox",
      "id": "show_overlay_2",
      "label": "Show Background Overlay 2",
      "default": true
    },
    {
      "type": "range",
      "id": "content-width",
      "label": "Content width (Left)",
      "default": 450,
      "min": 200,
      "max": 750,
      "step": 10,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "heading",
          "default": "Video Banner",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_color",
          "label": "Color",
          "default": "primary-1",
          "options": [
              {
                "value": "primary-1",
                "label": "Gutsy Green"
              },
              {
                "value": "primary-2",
                "label": "Gutsy Orange"
              },
              {
                "value": "primary-3",
                "label": "Gutsy Beige"
              }
          ]
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "subheading",
          "default": "Our amazing subheading goes here!",
          "label": "Subheading"
        },
        {
          "type": "select",
          "id": "color",
          "default": "white",
          "label": "Color",
          "options": [
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "black",
              "label": "Black"
            }
          ]
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "select",
          "id": "button_style_1",
          "label": "Button 1 Style",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ]
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "select",
          "id": "button_style_2",
          "label": "Button 2 Style",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_secondary_color",
          "label": "Secondary Button Color",
          "default": "white",
          "info": "Only applies to secondary buttons.",
          "options": [
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "black",
                "label": "Black"
              }
          ]
        }
      ]
    },
    {
      "type": "blog_feature",
      "limit": 1,
      "name": "Blog Features",
      "settings": [
        {
          "type": "blog",
          "id": "blog",
          "label": "Blog"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video Banner"
    }
  ]
}
{% endschema %}
